/*Author: Brooke Neupert
Date: 11-9-23

Purpose: This is the css stylesheet for the search page
*/


body {
	background-color: #F4F3EE;
}
#toolbar {
	width: 100%;
	height: 150px;
	background-color: #E0AFA0;
}

#tb_title {
    float: left;
    font-size: 50px;
    font-family: Baumans;
    color: #463F3A;
    margin-bottom: 10px;
	margin-left: 20px;
	text-decoration: none;
	
}

#user_info {
	float: right;
	font-size: 14px;
	font-family: Artifika;
	color: #463F3A;
	margin: auto;
	text-align: center;
}

.tb_button {
    float: right;
    width: 50px;
    background-color: Transparent;
    color: #463F3A;
    height: 50px;
    font-size: 30px;
	border: none;
	margin-top: 5%;
	margin-right: 20px;
	
}

#tb_settings_button {
    width: 50px;
    height: 50px;
    background-color:Transparent;
    color: #463F3A;
    font-size: 30px;
	margin-top: 100%;
	margin-right: 20px;
	border: none;
    
}


#tb_settings_dropdown {
    display: inline-block;
    float: right;
}

#tb_settings_dropdown_items {
  display: none;
  position: absolute;
  color: #463F3A;
  font-family: Artifika;
  background-color: #F4F3EE;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
    
#tb_settings_dropdown_items a {
  color: #463F3A;
  font-family: Artifika;
  background-color: #F4F3EE
  padding: 12px 16px;
  text-decoration: none;
  margin: 10px;
  display: block;
}

#page_info {
    width: 50%
    padding: 5px;
    margin: auto;
    text-align: center;
	font-family: Artifika;
    color: #463F3A;
}

#search_label {
	color: #463F3A;
	font-family: Artifika;
}

#search_bar {
	width: 60%;
    margin: auto;
	background-color: #F4F3EE;
	
}

#search_bar_in {
    width: 50%;
    margin: auto;
	background-color: #F4F3EE;
	font-family: Artifika;
	font-size: 12px;
}

#submit {
	border-radius: 4px;
	border-color: #D28B75;
	background-color: #E0AFA0;
	color: #463F3A;
	font-family: Artifika;
}

#sort_button {
	border-radius: 4px;
	border-color: #D28B75;
	background-color: #E0AFA0;
	color: #463F3A;
	font-family: Artifika;
}

#sort_by {
    display: inline-block;
	
}

#sort_dropdowns {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
    
#sort_dropdowns a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#side_menu {
	width: 10%;
	font-family: Artifika;
	color: #463F3A;
}

#open_side {
    display: inline-block;
	width: 100%;
	border-radius: 4px;
	border-color: #463F3A;
	color: #463F3A;
	font-family: Artifika;
}

#dropdown {
	width: 100%;
	border-radius: 4px;
	border-color:#463F3A;
	background-color: #F4F3EE;
	color: #463F3A;
	font-family: Artifika;
}
	
#side_menu button {
	display: inline-block;
	border-radius: 4px;
	border-color: #D28B75;
	background-color: #E0AFA0;
	color: #463F3A;
	font-family: Artifika;
}

#filter_options {
  display: none;
  height: 100%;
  width: 200px;
  position: fixed;
  background-color: #F4F3EE;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

/* The navigation menu links */
#filter_options a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-family: Artifika;
  color: #463F3A;
  display: block;
  
}

/* When you mouse over the navigation links, change their color */
#filter_options a:hover {
  color: #8A817C;
  background-color: #BCB8B1;
}

/* Position and style the close button (top right corner) */

#recipe_grid .row {
    
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

#recipe_grid .column {
    flex: 50%;
    padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

#tb_title a:link {text-decoration: none;}

#tb_title a:visited {color: #463F3A; text-decoration: none;}

.tb_button a:link {text-decoration: none;}

.tb_button a:visited {color:#463F3A; text-decoration: none;}

#tb_settings_dropdown_items a:hover {background-color: #ddd;}

#tb_settings_dropdown:hover #tb_settings_dropdown_items {display: block;}

#tb_settings_dropdown:hover .dropbtn {background-color: #D28B75;} 

#submit:hover {background-color: #D28B75;}

#sort_button:hover {background-color: #D28B75;}

#sort_dropdowns a:hover {background-color: #BCB8B1;}

#sort_by:hover #sort_dropdowns {display: block;}

#sort_by:hover .dropbtn {background-color: #D28B75;}  

#side_menu:hover #open_side {background-color: #D28B75;}

#side_menu:hover #filter_options {display: block;}

