<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Error</title>
    </head>
    <body>
        <!--tool bar -->
        <div id="toolbar">

            <h2 id="tb_title"><a href="home_page.html">RecipeVault</a></h2>
            <button type="button" id="tb_home_button" class="tb_button"><a href="home_page.html">&#8962;</a></button>
            <button type="button" id="tb_vault_button" class="tb_button"><a href="vault_page.html">&#128100;</a></button>
            
            <div id="tb_settings_dropdown">
                <button type="button" class="dropbtn" id="tb_settings_button">&#9881;</button>
                <div id="tb_settings_dropdown_items">
                    <a href="#">Profile Settings</a>
                    <a href="#">Change Theme</a>
                    <a href="#">Sign Out</a>
                </div>
            </div>
        </div>
        <!--error -->
        <main class="page error-page">
            <section>
                <h1>404</h1>
                <h3>page not found</h3>
            </section>
        </main>
    </body>
</html>

