<!DOCTYPE html>
<html>
	<head>
		<title>Recipe Page</title>
		<link rel=stylesheet href="../static/css/recipe_pg.css">
	</head>
	<body style="background-color:#F4F3EE" >
		<h1>Sandwich</h1>
        <div class="save-recipe">
            <button onclick="add_recipe_to_vault(user_id, recipe_id)">Save Recipe</button> <!--'Save Recipe' button -->
        </div>
        
		<p>This is a tasty lunchtime staple!</p>
		<p>Rating: 5 stars</p>
        <div class="ratings">
		<button>&#9733;</button>
		<button>&#9733;</button>
		<button>&#9733;</button>
		<button>&#9733;</button>
		<button>&#9733;</button>
            
		<p>Tags:</p>
		<button href="search_page.html">lunch</button>
        </div>
		<h2>Ingredients</h2>
		<ul>
			<li>Sliced Bread</li>
			<li>Cheese</li>
			<li>Salamis</li>
			<li>Mustard</li>
		</ul>
		<h2>Instructions</h2>
		<ol>
			<li>First, Spread mustard on both pieces of bread</li>
			<li>Set aside one piece of bread, and put cheese and salami on one piece of bread (the side with the mustard</li>
			<li>Top with the other piece of bread mustard side down and enjoy!</li>
		</ol>
	</body>
</html>

		