<!--Author: Anthony Le (css styling + minor edits  by BN)
Date: 12-3-23
Purpose: Serve as login page template for returning users-->

<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
	<link rel=stylesheet href="{{ url_for('static', filename='css/login_page.css') }}">
	<link href='https://fonts.googleapis.com/css?family=Artifika' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Baumans' rel='stylesheet'>
</head>
<body>
	<div id="login_fields"> 
		<h1 id=login_title>Login</h1>
		
		<div id="login_form">
			<form method="POST" action="{{ url_for('login') }}">
				<label for="username">Username:</label>
				<input type="text" name="username" required>
				<br>
				<label for="password">Password:</label>
				<input type="password" name="password" required>
				<br>
				<input id="submit" type="submit" value="Login">
			</form>
			<a id="register" href="{{ url_for('register') }}">Don't have an account? Register</a>
		</div>
		
			
	</div>
</body>
</html>