<!---Personal Vault Page HTML Template for RecipeVault
Author: Brooke Neupert
Date: 11-10-2023
-->

<!DOCTYPE html>
<html>
    <head>
       <!-- <script src="../static/javascript/vault_page.js"></script>-->
        <link  rel="stylesheet" href="../static/css/vault_page.css">
		
		<!--Google Fonts-->
		<link href='https://fonts.googleapis.com/css?family=Baumans' rel='stylesheet'>
		<link href='https://fonts.googleapis.com/css?family=Artifika' rel='stylesheet'>
		
        <title>RecipeVault-Your Vault</title>
    </head>
    <body>
        <div id="toolbar">
            
            <h2 id="tb_title"><a href="home">RecipeVault</a></h2>
            
            <button type="button" id="tb_home_button" class="tb_button"><a href="home_page.html">&#8962;</a></button>
            <button type="button" id="tb_vault_button" class="tb_button"><a href="search_page.html">&#128269;</a></button>
            <div id="tb_settings_dropdown">
                <button type="button" class="dropbtn" id="tb_settings_button">&#9881;</button>
                <div id="tb_settings_dropdown_items">
                    <a href="#">Profile Settings</a>
                    <a href="#">Change Theme</a>
                    <a href="#">Sign Out</a>
                </div>
            </div>
           
        </div>

        <div id="page_info">
            <h2>Welcome To Your Vault!</h2>
            <p>Here you can browse your saved recipes</p>
        </div>

<!--Search bar and button-->
        <div id="search_bar">
            <input id="search_bar_in" type="text" placeholder="Search">
            <button type="button" id="searchbtn">Search</button>
            <div id="sort_by">
                <button type="button" class="dropbtn" id="sort_button">Sort Results</button>
                <div id="sort_dropdowns">
                    <a><input type="radio" id="rating_sort" name="sort_opt" value="rating">
                        <label for="rating">Highest Rating</label></a>
                    <a><input type="radio" id="recent_sort" name="sort_opt" value="recent">
                        <label for="recent">Most Recent</label></a>
                    <a><input type="radio" id="time_sort" name="sort_opt" value="cooktime">
                        <label for="cooktime">Cooking Time</label></a>
                </div>
            </div>
            
            
            
            
            
            <div id="user_info">
                {% if username %}
                    <p>Welcome, {{ username }}!</p>
                {% else %}
                    <p>Not logged in</p>
                {% endif %}
            </div>
            
            
            
            
        </div>
            
            
        
        
<!--Side Menu Pop-out filters-->
        
        <div id="side_menu">
            <button type="button" class="dropbtn" id="open_side">Filter By:</button>
            <div id="filter_options">
                <a href="#">Breakfast</a>
                <a href="#">Lunch</a>
                <a href="#">Dinner</a>
                <a href="#">Dessert</a>
            </div>
        </div>
        
        

<!--Display Recipe Tiles-->
        
        <div id="recipe_grid">
           <div class="row">
              <div class="column">
                <img src="../images/spaghettis.jpg">
                <img src="../images/spaghettis.jpg">
                <img src="../images/spaghettis.jpg">
                <img src="../images/spaghettis.jpg">
                <img src="../images/spaghettis.jpg">
                <img src="../images/spaghettis.jpg">
                <img src="../images/spaghettis.jpg">
              </div>
              <div class="column">
                <img src="../images/spaghettis.jpg">
                <img src="../images/spaghettis.jpg">
                <img src="../images/spaghettis.jpg">
                <img src="../images/spaghettis.jpg">
                <img src="../images/spaghettis.jpg">
                <img src="../images/spaghettis.jpg">
                <img src="../images/spaghettis.jpg">
              </div>
              <div class="column">
                <img src="../images/spaghettis.jpg">
                <img src="../images/spaghettis.jpg">
                <img src="../images/spaghettis.jpg">
                <img src="../images/spaghettis.jpg">
                <img src="../images/spaghettis.jpg">
                <img src="../images/spaghettis.jpg">
                <img src="../images/spaghettis.jpg">
              </div>
              <div class="column">
                <img src="../images/spaghettis.jpg">
                <img src="../images/spaghettis.jpg">
                <img src="../images/spaghettis.jpg">
                <img src="../images/spaghettis.jpg">
                <img src="../images/spaghettis.jpg">
                <img src="../images/spaghettis.jpg">
                <img src="../images/spaghettis.jpg">
              </div>
            </div> 
        </div>
       
    </body>              
</html>

