
<!--Home Page HTML Template for RecipeVault
Author: Rebecca Toland
Date: 11-12-2023
-->

<!DOCTYPE html>
<html>
	<head>
		<script src="../static/javascript/home_page.js"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home_page.css') }}"/>
        
		<!--Google Fonts  :)-->
		<link href='https://fonts.googleapis.com/css?family=Baumans' rel='stylesheet'>
		<link href='https://fonts.googleapis.com/css?family=Artifika' rel='stylesheet'>
		
		<title>RecipeVault-Home Page</title>
        
	</head>
	<body>
        <!--All tool bar code written below created by Brooke Neupert-->
		<div id="toolbar">

            <!-- Home, search and vault redirects/buttons -->
            <h2 id="tb_title"><a href="{{ url_for('home') }}">RecipeVault</a></h2>
            
           
            <button type="button" id="tb_vault_button" class="tb_button"><a href="{{ url_for('user_vault', username=username) }}">&#128100;</a></button>
            
            
            <button type="button" id="search_button" class="tb_button"><a href="{{ url_for('search') }}">&#128269;</a></button>
    

            <div id="tb_settings_dropdown">
                <button type="button" class="dropbtn" id="tb_settings_button">&#9881;</button>
                <div id="tb_settings_dropdown_items">
                    <a href="#">Profile Settings</a>
                    <a href="#">Change Theme</a>
                    <a href="#">Sign Out</a>
                </div>
            </div>
            
        
            <div id="user_info">
                {% if username %}
                    <p>Welcome, {{ username }}!</p>
                {% else %}
                    <p>Not logged in</p>
                {% endif %}
            </div>
            
            
            
        </div>
        
        
        <!--Page_info written by Brooke Neupert but text edited by Rebecca-->
        <!-- Page info- static text -->
        <div id="page_info">
            <h2>Welcome to RecipeVault!</h2>
            <p>A Place to Find Recipes</p>
        </div>
        
        <!-- All search_bar code written by Brooke Neupert and Spencer Oram-->
        <div id="search_bar">
            <form method="POST" action="{{ url_for('search') }}">
				<label id="search_label" for="search">Search Recipes:</label>
				<input id="search_bar_in" type="text" name="keyword" required>
				<input id="submit" type="submit" value="search">
				<div id="sort_by">
					<button type="button" class="dropbtn" id="sort_button">Sort Results</button>
					<div id="sort_dropdowns">
						<a><input type="radio" id="rating_sort" name="sort_opt" value="rating">
							<label for="rating">Highest Rating</label></a>
						<a><input type="radio" id="recent_sort" name="sort_opt" value="recent">
							<label for="recent">Most Recent</label></a>
						<a><input type="radio" id="time_sort" name="sort_opt" value="cooktime">
							<label for="cooktime">Cooking Time</label></a>
					</div>
				</div>
			</form>
        </div>
        
        
        <!-- links for recipes, occasions, trending, saved recipes: Rebecca Toland -->
        <div id="cat_links" class="links">
            <a href="recipes.html" class="links">Recipes</a>
            <a href="occasions.html" class="links">Occasions</a>
            <a href="trending.html" class="links">Trending</a>
            <a href="saved.html" class="links">Saved Recipes</a>
        
        </div>
        
        
<!--Side Menu Pop-out filters-->
        
        <div id="side_menu">
            <form action="{{ url_for('search') }}" method="POST">
                <label for="dropdown">Select an option:</label>
                <select id="dropdown" name="keyword">
                    <option value="breakfast">Breakfast</option>
                    <option value="lunch">Lunch</option>
                    <option value="dinner">Dinner</option>
                    <option value="vegitarian">Vegetarian</option>
                </select>

                <button id="submit_filter" type="submit">Submit</button>
            </form>
            
        </div>
		
        <!-- Recipe of Day: Rebecca Toland -->
        <section id="recipe_otd" class="recipeofday">
            <div class="recipeofdaypicture", style="text-align: center;">
                <img src="{{ url_for('static', filename='snowballcookie.png') }}"/>
            </div>
			
            <div class="recipeofdayinfo">
                <div style="text-align: center;">
                <h2>Recipe of the Day</h2>
                
                    <a href="#">Chocolate Snowball Cookies</a>
                </div>
            </div>
            
        </section>
        
    </body>
</html>
