<!---Personal Vault Page HTML Template for RecipeVault
Author: Brooke Neupert
Date: 11-10-2023
-->

<!DOCTYPE html>
<html>
    <head>
		<!--static files-->
        <script src="../static/javascript/search_page.js"></script>
        <link rel=stylesheet href="{{ url_for('static', filename='css/search_page.css') }}">
		
		<!--Google Fonts  :)-->
		<link href='https://fonts.googleapis.com/css?family=Baumans' rel='stylesheet'>
		<link href='https://fonts.googleapis.com/css?family=Artifika' rel='stylesheet'>
		
        <title>RecipeVault-Search Page</title>
        
    </head>
    <body>
		
<!--toolbar code-->
        <div id="toolbar">
            
            <h2 id="tb_title"><a href="{{ url_for('home') }}">RecipeVault</a></h2>

            <button type="button" id="tb_vault_button" class="tb_button"><a href="{{ url_for('user_vault', username=username)}}">&#128100;</a></button>
            
            <button type="button" id="search_button" class="tb_button"><a href="{{ url_for('search') }}">&#128269;</a></button>
            <div id="tb_settings_dropdown">
                <button type="button" class="dropbtn" id="tb_settings_button">&#9881;</button>
                <div id="tb_settings_dropdown_items">
                    <a href="#">Profile Settings</a>
                    <a href="#">Change Theme</a>
                    <a href="#">Sign Out</a>
                </div>
            </div>

            
            
            <div id="user_info">
                {% if username %}
                    <p>Welcome, {{ username }}!</p>
                {% else %}
                    <p>Not logged in</p>
                {% endif %}
            </div>
            
            
            
            
        </div>
        
<!--Page info- static text-->
        
        <div id="page_info">
            <h2>Search Recipe Vault</h2>
            <p>Here you can browse all recipes in our vault!</p>
        </div>
		
		
<!--Search Bar and Sort By-->
		<!--Spencer Oram Search Bar Code-->
        <div id="search_bar">
           <form method="POST" action="{{ url_for('search') }}">
				<label id="search_label" for="search">Search Recipes:</label>
				<input id="search_bar_in" type="text" name="keyword" required>
				<input id="submit" type="submit" value="search">

            <div id="sort_by">
                <button type="button" class="dropbtn" id="sort_button">Sort Results</button>
                <div id="sort_dropdowns">
                    <a><input type="radio" id="rating_sort" name="sort_val" value="rating">
                        <label for="rating">Highest Rating</label></a>
                    <a><input type="radio" id="recent_sort" name="sort_val" value="recent">
                        <label for="recent">Most Recent</label></a>
                    <a><input type="radio" id="time_sort" name="sort_val" value="cooktime">
                        <label for="cooktime">Cooking Time</label></a>
                </div>
            </div>
			</form>
        </div>
            
            
        
        
<!--Side Menu Pop-out filters-->
        
        <div id="side_menu">
            <form action="{{ url_for('search') }}" method="POST">
                <label for="dropdown">Select an option:</label>
                <select id="dropdown" name="keyword">
                    <option value="breakfast">Breakfast</option>
                    <option value="lunch">Lunch</option>
                    <option value="dinner">Dinner</option>
                    <option value="vegitarian">Vegetarian</option>
                </select>

                <button id="submit_filter" type="submit">Submit</button>
            </form>
            
        </div>
        
        
        

<!--Display Recipe Tiles-->
        
        <div id="recipe_grid">
           <div class="row">
              <div class="column">
                <img src="{{ url_for('static', filename='spaghettis.jpg') }}"/>
                <img src="{{ url_for('static', filename='spaghettis.jpg') }}"/>
                <img src="{{ url_for('static', filename='spaghettis.jpg') }}"/>
                <img src="{{ url_for('static', filename='spaghettis.jpg') }}"/>
                <img src="{{ url_for('static', filename='spaghettis.jpg') }}"/>
                <img src="{{ url_for('static', filename='spaghettis.jpg') }}"/>
                <img src="{{ url_for('static', filename='spaghettis.jpg') }}"/>
              </div>
              <div class="column">
                <img src="{{ url_for('static', filename='spaghettis.jpg') }}"/>
                <img src="{{ url_for('static', filename='spaghettis.jpg') }}"/>
                <img src="{{ url_for('static', filename='spaghettis.jpg') }}"/>
                <img src="{{ url_for('static', filename='spaghettis.jpg') }}"/>
                <img src="{{ url_for('static', filename='spaghettis.jpg') }}"/>
                <img src="{{ url_for('static', filename='spaghettis.jpg') }}"/>
                <img src="{{ url_for('static', filename='spaghettis.jpg') }}"/>
              </div>
              <div class="column">
                <img src="{{ url_for('static', filename='spaghettis.jpg') }}"/>
                <img src="{{ url_for('static', filename='spaghettis.jpg') }}"/>
                <img src="{{ url_for('static', filename='spaghettis.jpg') }}"/>
                <img src="{{ url_for('static', filename='spaghettis.jpg') }}"/>
                <img src="{{ url_for('static', filename='spaghettis.jpg') }}"/>
                <img src="{{ url_for('static', filename='spaghettis.jpg') }}"/>
                <img src="{{ url_for('static', filename='spaghettis.jpg') }}"/>
              </div>
              <div class="column">
                <img src="{{ url_for('static', filename='spaghettis.jpg') }}"/>
                <img src="{{ url_for('static', filename='spaghettis.jpg') }}"/>
                <img src="{{ url_for('static', filename='spaghettis.jpg') }}"/>
                <img src="{{ url_for('static', filename='spaghettis.jpg') }}"/>
                <img src="{{ url_for('static', filename='spaghettis.jpg') }}"/>
                <img src="{{ url_for('static', filename='spaghettis.jpg') }}"/>
                <img src="{{ url_for('static', filename='spaghettis.jpg') }}"/>
              </div>
            </div> 
        </div>
       
    </body>              
</html>

