<!--Home Page HTML Template for RecipeVault
Author: Rebecca Toland
Date: 11-12-2023
-->

<!DOCTYPE html>
<html>
	<head>
		<script scr="static/javascript/home_page.js"></script>
		<link rel="stylesheet" href="static/css/home_page.css"/>
		<title>RecipeVault-Home Page</title>
	</head>
	<body>
		<div class="tool bar">
			<div id="recipes">
				<p>
				Recipes
				</p>
			</div>
			<div id="occasions">
				<p>
				Occasions
				</p>
			</div>
			<div id="trending">
				<p>
				Trending
				</p>
			</div>
			<div id="saved recipes">
				<p>
				Saved Recipes
				</p>
			</div>

		</div>
	</body>
	<main>
		<div class="recipeofday">
		
	</main>

</html>
	
