<!---Search Page HTML Template for RecipeVault
Author: Brooke Neupert
Date: 11-10-2023
-->

<!DOCTYPE html>
<html>
    <head>
        <script src="/static/javascript/search_page.js"></script>
        <link rel="stylesheet" href="/static/css/search_page.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>RecipeVault-Search</title>
    </head>
    <body>
        <div id="toolbar">
            <div id="tb_title">
                <p><a href="home_pg.html">RecipeVault</a></p>
            </div>
            <div id="tb_buttons">
                <button type="button" id="tb_home_button"><i class="fa-solid fa-house"></i></button>
                <button type="button" id="tb_vault_button"><i class="fa-solid fa-user"></i></button>
                <button type="button" class="dropbtn" id="tb_settings_button"><i class="fa-solid fa-gear"></i></button>
                <div id="tb_settings_dropdown">
                    <a href="#">Profile Settings</a>
                    <a href="#">Change Theme</a>
                    <a href="#">Sign Out</a>
                </div>
            </div>
        </div>
    </body>
                
</html>

